// Links
// 
// Styles for links
//
// .class - description
//
// Markup:
// <a href="/" class="link {$modifiers}">Link</a>
//
// Styleguide 1.5


// .link
	
// 	&:active,
// 	&:focus,
// 	&:hover

// etc.