// Lists
// 
// Styles for lists
//
// .class - description
//
// Markup:
// <ul class="list {$modifiers}">
// 	<li>First</li>
// 	<li>Second</li>
// 	<li>Third</li>
// </ul>
// <ol class="list {$modifiers}">
// 	<li>First</li>
// 	<li>Second</li>
// 	<li>Third</li>
// </ol>
// <dl class="list {$modifiers}">
// 	<dt>First Term</dt>
// 		<dd>Definition</dd>
// 	<dt>Second Term</dt>
// 		<dd>Definition</dd>
// 	<dt>Third Term</dt>
// 		<dd>Definition</dd>
// </dl>
//
// Styleguide 1.6