// Tables
// 
// Styles for tables
//
// .class - description
//
// Markup:
// <table class="{$modifiers}">
// 	<thead>
// 		<tr>
// 			<th>heading 1</th>
// 			<th>heading 2</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr>
// 			<td>cell 1</td>
// 			<td>cell 2</td>
// 		</tr>
// 	</tbody>
// </table>
//
// Styleguide 1.7