// Text Styles
// 
// Styles for text elements
//
// .class - description
//
// Markup:
// <h1 class="header {$modifiers}">Header</h1>
// <p class="paragraph {$modifiers}">Paragraph</p>
//
// Styleguide 1.8


// h1,
// h2,
// h3,
// h4,
// h5,
// h6

// p
// blockquote
// cite
// caption
// small
// strong

// etc.