// Declare any variables to be used throughout the website

// COLOURS
white =				#ffffff
grey =				#333333
black =				#000000

blue =				#0000ff

// LAYOUT
spacing =			1.5em
cornerradius =		0.3em

// TYPOGRAPHY
textcolour =		grey
linkcolour =		blue

fontface =			sans-serif
fontsize =			16px