// Navigation
// 
// Styles for navigation menus
//
// .class - description
//
// Markup:
// <nav class="{modifiers}">
// 	<ul>
// 		<li><a href="/">Item 1</a></li>
// 		<li><a href="/">Item 2</a></li>
// 		<li><a href="/">Item 3</a></li>
// 	</ul>
// </nav>
//
// Styleguide 2.6