// This is the main stylesheet. DO NOT declare styles in this file -
// you should instead create/edit files in the includes folder and 
// then import them here. Beware of the order in which you import
// files.

// If you want to use any of these frameworks, uncomment the
// corresponding import statements:
// @import 'lib/bootstrap/bootstrap'
// @import 'lib/foundation/foundation'
// @import 'lib/axis/index'

// First import stuff that could be used by all other files
@import 'includes/variables'
@import 'includes/helpers'

// Base Styles
// 
// Styleguide 1.0

// Base styles for raw HTML elements
@import 'includes/base/animation'
@import 'includes/base/body'
@import 'includes/base/images'
@import 'includes/base/layout'
@import 'includes/base/links'
@import 'includes/base/lists'
@import 'includes/base/tables'
@import 'includes/base/text'

// Component Styles
// 
// Styleguide 2.0

// Component styles for collections of HTML elements
@import 'includes/components/blocks'
@import 'includes/components/buttons'
@import 'includes/components/footer'
@import 'includes/components/header'
@import 'includes/components/icons'
@import 'includes/components/navigation'