extends layouts/main

// Mandatory, the page <title> tag would otherwise be empty
block title
	| Welcome to the Styleguide Test Page

// CSS code only for this page, this WILL NOT be added to main.css
block css

// Javascript code only for this page, this WILL NOT be added to main.js
block script

block content
	p This is the index page content.
	p
		a(href="/styleguide") Click here for the Styleguide